# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.DS_Store

lab_01/cmake-build-debug/

lab_01/build-lab_01-Desktop_Qt_5_14_0_clang_64bit-Debug/

lab_01/build/

build-lab_02-Desktop_Qt_5_14_0_clang_64bit-Debug/

lab_03/build/

build-lab_02-Desktop_Qt_5_14_2_clang_64bit-Debug/

build-lab_03-Desktop_Qt_5_14_2_clang_64bit-Debug/

build-lab_04-Desktop_Qt_5_14_2_clang_64bit-Debug/

build-lab_04-Desktop_Qt_5_14_2_clang_64bit-Release/

build-lab_05-Desktop_Qt_5_14_2_clang_64bit-Debug/

lab_07/build-lab_07-Desktop_Qt_5_14_2_clang_64bit-Debug/

build-lab_06-Desktop_Qt_5_14_2_clang_64bit-Debug/

lab_08/build-lab_08-Desktop_Qt_5_14_2_clang_64bit-Debug/
